.span6
  %canvas(id='cameraScreen')
  %br
  /%button.btn.btn-primary(style='margin-top: 5px' onclick='cameraApp.mirrorHorizontally()') Reverse
  :javascript
    var cameraApp = {};
    WindowUtil.addOnload(function () {
      try {
        cameraApp = new CameraApp();
        //cameraApp.draw();
      } catch (ex) {
        MessageHandler.showError('Cannot initialize camera. Please retry.');
        MessageHandler.showDebugMessage('window.onload callback : ' + ex);
      }
    });
  - if channel != nil && channel.id != nil
    /%button.btn.btn-primary(style='margin-top: 5px' onclick="cameraApp.startBroadcast('#{pusher_key}', '#{channel.id}')") Start Broadcast
    /%button.btn.btn-primary(style='margin-top: 5px' onclick="cameraApp.stopBroadcast('#{channel.id}')") Stop Broadcast
    %button.btn.btn-primary(data-toggle='button' style='margin-top: 5px' onclick="cameraApp.changeBroadcastState('#{pusher_key}', '#{channel.id}')") Broadcast
    /%button.btn.btn-primary(style='margin-top: 5px' onclick='cameraApp.debugger.hello()') Hello
    /%button.btn.btn-primary(style='margin-top: 5px' onclick='cameraApp.debugger.sendImage()') Send Image
  /%video(autoplay)
  %video(id='camera' autoplay style='display:none')
  /.span6
  - if channel == nil
    %form.form-inline.post(action='/camera' method='post' style='margin-top: 5px' )
      %input.input-xlarge(id='channelName' name='post[channel_name]' type='text' placeholder='Channel Name')
      %button.btn.btn-primary(type='submit') Create
      /%fieldset
      /  .control-group
      /    /%label.control-label(for='Channel Name') Channel Name :
      /    .controls
      /      %input.input-xlarge(id='channelName' name='post[channel_name]' type='text' placeholder='Channel Name')
      /  .form-actions
      /    %button.btn.btn-primary(type='submit') Create
